doctype 5
html(lang='en')
    head
        title E-Mail Tester
        meta(encoding='utf8')
        link(rel='stylesheet', href='/vendor/bootstrap/css/bootstrap.min.css')
    body
        .container
            h1 E-Mail Tester
            block content
        
